<section class="about-us" id="section-one">
  <div class="about-us-wrap">
    <div class="container">
      <h2 class="about-us-title">About us</h2>
      <h3 class="about-us-subtitle">
        Our сraftsmanship: сreating unique handmade furniture
      </h3>
      <p class="about-us-desc">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="about-us-list">
        <li class="about-us-item">
          <div class="about-us-advantages">5+</div>
          <p class="advantages-desc">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="about-us-item">
          <div class="about-us-advantages">100%</div>
          <p class="advantages-desc">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="about-us-item">
          <div class="about-us-advantages">500+</div>
          <p class="advantages-desc">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <img
      srcset="
        ./img/about-us/about-us-mobile.jpg    1x,
        ./img/about-us/about-us-mobile-2x.jpg 2x
      "
      src="./img/about-us/about-us-mobile.jpg"
      alt="sofa"
      class="about-us-img mobile"
    />
    <img
      srcset="
        ./img/about-us/about-us-tablet.jpg    1x,
        ./img/about-us/about-us-tablet-2x.jpg 2x
      "
      src="./img/about-us/about-us-tablet.jpg"
      alt="sofa"
      class="about-us-img tablet"
    />
    <img
      srcset="
        ./img/about-us/about-us-desctop.jpg    1x,
        ./img/about-us/about-us-desctop-2x.jpg 2x
      "
      src="./img/about-us/about-us-desctop.jpg"
      alt="sofa"
      class="about-us-img desctop"
    />
  </div>
</section>
