<section class="section-bestsellers">
  <div class="container">
    <h2 class="best">Bestsellers</h2>
    <ul class="best-list">
      <li class="best-list-item">
        <img
          srcset="
            ./src/img/bestsellers/best-1.jpd    1x,
            ./src/img/bestsellers/best-1-2x.jpd 2x
          "
          src="./src/img/bestsellers/best-1.jpd"
          alt="Platform bed"
          width="343"
          height="193"
        />
        <h3 class="best-item-name">The modern platform bed</h3>
        <p class="best-item-price">750$</p>
      </li>
      <li class="best-list-item">
        <img
          srcset="
            ./src/img/bestsellers/best-2.jpd    1x,
            ./src/img/bestsellers/best-2-2x.jpd 2x
          "
          src="./src/img/bestsellers/best-2.jpd"
          alt="Lounge chair"
          width="343"
          height="193"
        />
        <h3 class="best-item-name">The Cozy Lounge Chair</h3>
        <p class="best-item-price">230$</p>
      </li>
      <li class="best-list-item">
        <img
          srcset="
            ./src/img/bestsellers/best-3.jpd    1x,
            ./src/img/bestsellers/best-3-2x.jpd 2x
          "
          src="./src/img/bestsellers/best-3.jpd"
          alt="Accent chair"
          width="343"
          height="193"
        />
        <h3 class="best-item-name">The industrial accent chair</h3>
        <p class="best-item-price">250$</p>
      </li>
    </ul>
  </div>
</section>
