<section class="clients-reviews">
    <div class="container">
        <h2 class="clients-title">Clients reviews</h2>
    <div class="clients-card">
        <ul class="clients-list">
            <li class="item-card">
            <div class="card-block">
            <img src="./img/clients-reviws/client1@1x.jpg" alt="Alexandra dream" width="48" />
            <div class="cl-text">
            <h3 class="clients-name">Alexandra dream</h3>
            <p class="clients-review">1 week ago</p>
            </div>
            </div>
            <p class="clients-text">I was blown away by the quality and craftsmanship of the furniture I received from this company. Each piece was unique
            and beautifully designed, and you can tell that a lot of thought and care goes into every detail.</p>
            </li>
        </ul>
    </div>
</div>
</section>