<section class="clients-reviews" id="section-five">
    <div class="container">
        <h2 class="clients-title">Clients reviews</h2>
        <ul class="clients-list clients-card">
            <li class="item-card">
            <div class="card-block">
                <picture>
                    <source class="photo-client" srcset="./img/clients-reviws/client1@1x.jpg 1x, ./img/clients-reviws/client1@2x.jpg 2x"
                    media="(min-width: 768px)">
                    <source class="photo-client" srcset="./img/clients-reviws/client1-1-x-mobile.jpg 1x, ./img/clients-reviws/client1@2x-mobile.jpg 2x"
                    media="(min-width: 320px)">
            <img class="photo-client" src="./img/clients-reviws/client1-mobile.jpg" alt="Alexandra dream" width="56" />
            </picture>
            <div class="cl-text">
            <h3 class="clients-name">Alexandra dream</h3>
            <p class="clients-review">1 week ago</p>
            </div>
            </div>
            <p class="clients-text">I was blown away by the quality and craftsmanship of the furniture I received from this company.
                Each piece was unique
                and beautifully designed, and you can tell that a lot of thought and care goes into every detail.</p>
            </li>
            <li class="item-card card-two">
                <div class="card-block">
                    <img class="photo-client" srcset="./img/clients-reviws/client2@1x.jpg 1x, ./img/clients-reviws/client2@2x.jpg 2x"
                    src="./img/clients-reviws/client2.jpg" alt="James Williams" width="56" height="56" />
                    <div class="cl-text">
                        <h3 class="clients-name">James Williams</h3>
                        <p class="clients-review">A week ago</p>
                    </div>
                </div>
                <p class="clients-text">The "Minimal" furniture set is a fantastic addition to my home. It boasts a minimalist design, enhancing the feel and
                look of my living space. The sturdy construction is worth noting too, which speaks volumes about its durability.</p>
            </li>
            <li class="item-card card-three">
                <div class="card-block">
                    <img class="photo-client" srcset="./img/clients-reviws/client3-1.jpg 1x, ./img/clients-reviws/client3-2.jpg  2x"
                        src="./img/clients-reviws/client3.jpg" alt="Emily Watson" width="56" height="56" />
                    <div class="cl-text">
                        <h3 class="clients-name">Emily Watson</h3>
                        <p class="clients-review">3 week ago</p>
                    </div>
                </div>
                <p class="clients-text">The "Minimal" furniture set has far exceeded my expectations. The sleek design combined with the high-quality materials
                have not only added an exceptional aesthetic to my space but also offered an uncompromising standard of comfort.
                </p>
            </li>
        </ul>
</div>
</section>