<footer class="footer">
  <div class="container footer-container">
    <!-- <div class="footer-wrap-social"> -->
    <div class="footer-wrap-logo">
      <div class="footer-firstline">
        <a class="footer-logo" href="./index.html">
          <svg class="footer-logo-icon" width="127" height="16">
            <use href="../img/icons.svg#icon-main-logo"></use>
          </svg>
        </a>
        <ul class="footer-menu list">
          <li class="footer-list">
            <a class="footer-link link" href="#section-one">About us</a>
          </li>
          <li class="footer-list">
            <a class="footer-link link" href="#section-two">Our products</a>
          </li>
          <li class="footer-list">
            <a class="footer-link link" href="#section-thre">Prices</a>
          </li>
          <li class="footer-list">
            <a class="footer-link link" href="#section-four">Bestsellers</a>
          </li>
          <li class="footer-list">
            <a class="footer-link link" href="#section-five">Reviews</a>
          </li>
        </ul>
      </div>

      <div class="footer-container-social">
        <ul class="list footer-social">
          <li class="footer-social-list">
            <a
              class="link footer-social-link"
              href="https://uk-ua.facebook.com/"
              target="_blank"
            >
              <svg class="footer-social-icon" width="28" height="28">
                <use href="../img/icons.svg#icon-ph_facebook-logo"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-list">
            <a
              class="link footer-social-link"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg class="footer-social-icon" width="28" height="28">
                <use href="../img/icons.svg#icon-ph_instagram-logo"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-list">
            <a
              class="link footer-social-link"
              href="https://www.youtube.com/?hl=uk&gl=UA"
              target="_blank"
            >
              <svg class="footer-social-icon" width="28" height="28">
                <use href="../img/icons.svg#icon-ph_youtube-logo"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-contakt">
      <ul class="footer-address-list list">
        <li class="footer-address-item">
          <a
            class="footer-address-link link"
            href="https://goo.gl/maps/2LxpfG8LnCwtbyrV6"
            target="_blank"
            >Obolonsky Prospect, 14, Kyiv</a
          >
        </li>
        <li class="footer-time">
          <p class="footer-address-link">Daily 10:00-21:00</p>
        </li>
      </ul>
      <address class="footer-tel">
        <ul class="list">
          <li class="footer-address-item">
            <a class="footer-address-link link" href="tel:+380669384758"
              >+380669384758</a
            >
          </li>
          <li class="footer-address-item">
            <a class="footer-address-link link" href="tel:+380679384758"
              >+380679384758</a
            >
          </li>
        </ul>
      </address>
      <address class="footer-none">
        <a
          class="footer-address-link link"
          href="mailto:minimal.furniture@gmail.com"
          >minimal.furniture@gmail.com</a
        >
      </address>
    </div>

    <!-- </div> -->

    <p class="footer-privacy">
      By using this website, you agree to the
      <a class="Privacy" href="#" target="_blank">Terms of Service</a> and
      <a class="Privacy" href="#" target="_blank">Privacy Policy</a>
    </p>
  </div>
</footer>
