<div id="scrollToTop">
  <svg class="scroll-up" width="60" height="60">
    <use href="./img/icons.svg#scroll-up"></use>
  </svg>
</div>

<header class="header">
  <div class="container">
    <nav class="header-menu">
      <a class="header-logo" href="#">
        <svg class="main-icon" width="100" height="14">
          <use href="./img/icons.svg#icon-main-logo"></use>
        </svg>
      </a>

      <ul class="list header-list">
        <li class="header-menu-list">
          <a class="header-menu-list-properties link" href="#section-one"
            >About us</a
          >
        </li>
        <li class="header-menu-list">
          <a class="header-menu-list-properties link" href="#section-two"
            >Our products</a
          >
        </li>
        <li class="header-menu-list">
          <a class="header-menu-list-properties link" href="#section-thre"
            >Prices</a
          >
        </li>
        <li class="header-menu-list">
          <a class="header-menu-list-properties link" href="#section-four"
            >Bestsellers</a
          >
        </li>
        <li class="header-menu-list">
          <a class="header-menu-list-properties link" href="#section-five"
            >Reviews</a
          >
        </li>
        <li class="header-menu-list">
          <a class="header-menu-list-properties link" href="#section-six"
            >Contacts</a
          >
        </li>
      </ul>

      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="mobile-menu-icon" width="32" height="32">
          <use class="icon-use" href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>

    <div class="menu-container js-menu-container" id="mobile-menu">
      <ul class="mobile-menu">
        <li class="mobile-menu-list">
          <a class="mobile-menu-link" href="#section-one">About us</a>
        </li>
        <li class="mobile-menu-list">
          <a class="mobile-menu-link" href="#section-two">Our products</a>
        </li>
        <li class="mobile-menu-list">
          <a class="mobile-menu-link" href="#section-thre">Prices</a>
        </li>
        <li class="mobile-menu-list">
          <a class="mobile-menu-link" href="#section-four">Bestsellers</a>
        </li>
        <li class="mobile-menu-list">
          <a class="mobile-menu-link" href="#section-five">Reviews</a>
        </li>
        <li class="mobile-menu-list">
          <a class="mobile-menu-link" href="#section-six">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</header>
