<section class="section-two">
  <div class="container">
    <h2 class="our-products-title">Our Products</h2>
    <ul class="our-products-list">
      <li class="our-products-list-items-1">
        <img
          class="our-products-list-img"
          srcset="./img/our-products/jpeg-optimizer_plants-x1.jpg x1, ./img/our-products/jpeg-optimizer_plants-x2.jpg x2"
          src="./img/our-products/jpeg-optimizer_plants-x1.jpg"
          alt="Plants"
          width="343"
        />
        <p class="our-products-paragraf">Minimalist storage solutions</p>
      </li>
      <li class="our-products-list-items-2">
        <img
          class="our-products-list-img"
          srcset="./img/our-products/jpeg-optimizer_sofa-tab-x1 x1, ./img/jpeg-optimizer_sofa-tab-x2 x2"
          src="./img/our-products/jpeg-optimizer_sofa-x1.jpg"
          alt="Plants"
          width="343"
        />
        <p class="our-products-paragraf">Handcrafted minimalist seating</p>
      </li>
      <li class="our-products-list-items-3">
        <img
          class="our-products-list-img"
          srcset="./img/our-products/jpeg-optimizer_table-x1.jpg x1, ./img/our-products/jpeg-optimizer_table-x2.jpg x2"
          src="./img/our-products/jpeg-optimizer_table-x1.jpg"
          alt="Plants"
          width="343"
        />
        <p class="our-products-paragraf">Sleek and simple tables</p>
      </li>
      <li class="our-products-list-items-4">
        <img
          class="our-products-list-img"
          srcset="./img/our-products/jpeg-optimizer_stool-x1.jpg x1, ./img/our-products/jpeg-optimizer_stool-x2.jpg x2"
          src="./img/our-products/jpeg-optimizer_stool-x1.jpg"
          alt="Plants"
          width="343"
        />
        <p class="our-products-paragraf">Minimalist seating for every space</p>
      </li>
    </ul>
  </div>
</section>
