<section class="section-two">
  <div class="container">
    <h2 class="our-products-title">Our Products</h2>
    <ul class="our-products-list">
      <li class="our-products-list-items-1">
        <img
          class="our-products-list-img"
          srcset="./img/our-products/plantsx1.jpg x1, ./img/our-products/plantsx2.jpg x2"
          src="./img/our-products/plantsx1.jpg"
          alt="Plants"
          width="343"
        />
        <p class="our-products-paragraf">Minimalist storage solutions</p>
      </li>
      <li class="our-products-list-items-2">
        <img
          class="our-products-list-img"
          srcset="./img/our-products/sofax1 x1, ./img/sofax2 x2"
          src="./img/our-products/sofax1.jpg"
          alt="Plants"
          width="343"
        />
        <p class="our-products-paragraf">Handcrafted minimalist seating</p>
      </li>
      <li class="our-products-list-items-3">
        <img
          class="our-products-list-img"
          srcset="./img/our-products/stoolx1.jpg x1, ./img/our-products/stoolx2.jpg x2"
          src="./img/our-products/stoolx1.jpg"
          alt="Plants"
          width="343"
        />
        <p class="our-products-paragraf">Sleek and simple tables</p>
      </li>
      <li class="our-products-list-items-4">
        <img
          class="our-products-list-img"
          srcset="./img/our-products/tablex1.jpg x1, ./img/our-products/tablex2.jpg x2"
          src="./img/our-products/tablex1.jpg"
          alt="Plants"
          width="343"
        />
        <p class="our-products-paragraf">Minimalist seating for every space</p>
      </li>
    </ul>
  </div>
</section>
