<section class="price" id="section-thre">
  <h2 class="price-title visually-hidden">
    Chairs Tables Dressers Sofas Price
  </h2>
  <div class="container price-block">
    <ul class="price-list">
      <li class="price-list-item">
        <p class="price-list-goods">Chairs</p>
        <p class="price-list-prices">from 200$</p>
      </li>
      <li class="price-list-item">
        <p class="price-list-goods">Tables</p>
        <p class="price-list-prices">from 250$</p>
      </li>
      <li class="price-list-item">
        <p class="price-list-goods">Dressers</p>
        <p class="price-list-prices">from 300$</p>
      </li>
      <li class="price-list-item">
        <p class="price-list-goods">Sofas</p>
        <p class="price-list-prices">from 500$</p>
      </li>
    </ul>
  </div>
</section>
