.clients-reviews {
    background-color: var(--color-bg-lightblue);
    padding-top: 36px;
    padding-bottom: 36px;
}
.clients-reviews img {
    min-width: 48px;
}
.cl-text {
    height: 48px;
}

.clients-title {
    color: var(--blue-font, #0A224A);
    font-family: var(--font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    width: 233px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.clients-card {
    display: flex;
    justify-content: flex-start;
}
.photo-client {
    width: 48px;
    height: 48px;
}
@media screen and (min-width: 320px) and (max-width: 340px) {
    .clients-reviews .item-card {
        padding-left: 0;
        padding-right: 0;
    }
}

.item-card {
    border-radius: 8px;
    background: var(--primary-color-background);
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
}

.clients-text {
    color: var(--primary-color-bluefont);
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 1.4;
    width: 296px;
}
.clients-review {
    color: var(--primary-color-bluefont);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    opacity: 0.8;
}

.clients-name {
    color: var(--primary-color-bluefont);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.8;
    text-transform: uppercase;
}

.card-block {
    display: flex;
    gap: 14px;
    align-items: center;
}
.card-two,
.card-three {
    display: none;
}
/*-----------tablet-----------------*/
@media screen and (min-width: 768px) {
    .card-two {
        display: flex;
    }
    .clients-list {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    .item-card {
        flex-basis: calc((100% - 16px) / 2);
        gap: 14px;
    }
    .clients-title {
        font-size: 32px;
        line-height: 1.4;
        width: 266px;
    }
    .clients-name {
        font-size: 20px;
        line-height: 2.3;
    }
    .clients-review {
        font-size: 16px;
        line-height: 1.5;
    }
    .clients-text {
        font-size: 18px;
        line-height: 1.5;
    }
    .photo-client {
        width: 56px;
        height: 56px;
    }
    .cl-text {
        height: 65px;
    }
}
/*--------------------desctop------------------*/
@media screen and (min-width: 1440px) {
    .card-three {
        display: flex;
    }
    .clients-list {
        gap: 23px;
    }
    .item-card {
        padding: 32px;
        flex-basis: calc((100% - 46px) / 3);
        gap: 16px;
    }
    .clients-card {
        justify-content: center;
    }
    .clients-text {
        width: 360px;
    }
    .clients-reviews {
        padding: 60px 0;
    }
    
}