.clients-reviews {
    background-color: var(--color-bg-lightblue);
    padding-top: 36px;
    padding-bottom: 60px;
}
.clients-reviews img {
    min-width: 48px;
}

.clients-title {
    color: var(--blue-font, #0A224A);
    font-family: var(--font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    width: 233px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.clients-card {
    display: flex;
    justify-content: flex-start;
}
@media screen and (min-width: 320px) and (max-width: 340px) {
    .clients-reviews .item-card {
        padding-left: 0;
        padding-right: 0;
    }
}

.item-card {
    border-radius: 8px;
    background: var(--primary-color-background);
    display: flex;
    flex-direction: column;
    padding: 24px;
    max-width: 343px;
    gap: 24px;
}

.clients-text {
    color: var(--primary-color-bluefont);
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 1.4;
    width: 296px;
}
.clients-review {
    color: var(--primary-color-bluefont);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    opacity: 0.8;
}

.clients-name {
    color: var(--primary-color-bluefont);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.8;
    text-transform: uppercase;
}

.card-block {
    display: flex;
    justify-content: flex-start;
    gap: 14px;
}
.card-two {
    display: none;
}
/*-----------tablet-----------------*/
@media screen and (min-width: 768px) {
    .card-two {
        display: flex;
    }
    .clients-list {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    .item-card {
        flex-basis: calc((100% - 16px) / 2);
    }
    .clients-title {
        font-size: 32px;
        line-height: 1.4;
        width: 266px;
    }
    .clients-name {
        font-size: 20px;
        line-height: 2.3;
    }
    .clients-review {
        font-size: 16px;
        line-height: 1.5;
    }
    .clients-text {
        font-size: 18px;
        line-height: 1.5;
    }
}