.footer {
  background-color: var(--primary-color-bluefont, #0a224a);
  padding-top: 36px;
  padding-bottom: 16px;
}
/*
.container.footer-container {
  margin-left: 0;
  margin-right: 0;
}
*/
.footer-wrap-social {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer-wrap-logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
/*
.footer-firstline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
}*/
.footer-logo {
  display: block;
  margin-bottom: 36px;
}
.footer-logo-icon {
  fill: var(--primary-color-background, #fff);
}
.footer-menu {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-address-item:first-child {
  margin-bottom: 8px;
}

.footer-link {
  color: var(--primary-color-background);
  font-family: var(--font-family, 'Roboto', sans-serif);
  font-size: 16px;
  line-height: 1.5; /* 150% */
}

.footer-container-social {
}
.footer-social {
  display: flex;
  gap: 16px;
}
.footer-social-list {
}
.footer-social-link {
}
.footer-social-icon {
  fill: var(--primary-color-background);
}

.footer-address {
  margin-bottom: 64px;
}

.footer-address-list {
  margin-bottom: 35px;
  /*display: flex;
  flex-direction: column;
  gap: 8px;*/
}
/*
.footer-time {
  margin-bottom: 35px;
}*/
.footer-address-link {
  color: var(--primary-color-background);
  font-family: var(--font-family, 'Roboto', sans-serif);
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.01em;
}
.footer-none {
  display: none;
}
.footer-privacy {
  opacity: 0.6;
  color: var(--primary-color-background);
  font-family: var(--font-family, 'Roboto', sans-serif);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: center;
}
.Privacy {
  text-decoration-line: underline;
}
/*==========768============*/
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 36px;
    padding-bottom: 36px;
    position: relative;
  }

  /*
  .footer-firstline {
    display: flex;
    justify-content: center;
    gap: 249px;
  }
  */
  .footer-logo {
    margin-bottom: 32px;
  }
  .footer-link {
    font-size: 18px;
  }

  .footer-address-list {
    margin-bottom: 64px;
  }
  .footer-address {
    margin-bottom: 0;
  }
  .footer-address-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .footer-address-link {
    font-size: 19px;
    line-height: normal;
  }
  .footer-privacy {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.07em;
  }
  /*
  .footer-list:not(last-child) {
    margin-bottom: 16px;
  }
  
  .footer-address-item {
    margin-bottom: 24px;
  }
  .footer-time {
    margin-bottom: 64px;
  }
  */
  .footer-none {
    display: block;
  }

  .footer-social-icon {
    width: 40px;
    height: 40px;
  }

  .footer-menu {
    position: absolute;
    left: 50%;
    top: 36px;
    gap: 16px;
    padding: 8px;
    margin-bottom: 0;
  }
  /*
  .footer-wrap {
    margin-bottom: 32px;
  }
  */
}
/*=============1440============*/
@media screen and (min-width: 1440px) {
  .footer-menu {
    display: flex;
    position: static;
    gap: 30px;
    flex-direction: row;
  }

  /*.footer-address-item {
    margin-bottom: 0;
  }
  .footer-address-list {
    /*padding-right: 564px;
    display: flex;
    /* flex-wrap: wrap;
    gap: 82px;
    justify-content: flex-start;
  }
  */
}
