#scrollToTop {
  position: fixed;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
  display: none;
}

.scroll-up {
  fill: rgba(205, 211, 221, 0.9);
}

.header {
  background-color: var(--color-bg-lightblue);
}

/* *----------------------------------------------------------------------------- */

/* *----------------------------------------------------------------------------- */

/* ? Header NAV (Menu) */
.header-menu {
  display: flex;
  width: 100%;
  max-height: 88px;
}

@media only screen and (min-width: 768px) {
  .header-menu {
    max-height: 95px;
  }
}
/* *----------------------------------------------------------------------------- */
/* ? Header logo */
.header-logo {
  margin: 36px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .header-logo {
    margin: 40px 0 39px 0;
  }
}
@media only screen and (min-width: 1440px) {
  .header-logo {
    margin: 38px 0 41px 0;
  }
}

/* ? Main logo icon */
.main-icon {
  fill: var(--primary-color-bluefont);
}

@media only screen and (min-width: 768px) {
  .main-icon {
    width: 127px;
    height: 16px;
  }
}

/* *----------------------------------------------------------------------------- */
/* ? Navigation list */
.header-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}

@media only screen and (max-width: 1439px) {
  .header-list {
    display: none;
  }
}
.header-menu-list-properties {
  color: var(--primary-color-bluefont);
}

/* *----------------------------------------------------------------------------- */

/* ? Burger menu icon */
.mobile-menu-icon {
  stroke: var(--primary-color-bluefont);
}
@media only screen and (min-width: 768px) {
  .mobile-menu-icon {
    width: 40px;
    height: 40px;
    stroke-width: 3;
  }
}

/* ? Burger menu container for icon */

.menu-toggle {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 28px 0 28px auto;
}

@media only screen and (min-width: 768px) {
  .menu-toggle {
    margin: 27px 0 28px auto;
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 1440px) {
  .menu-toggle {
    display: none;
  }
}
/* ? Burger menu container */
.menu-container {
  position: fixed;
  top: 88px;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 114px;
  background-color: var(--primary-color-background);
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .menu-container {
    top: 95px;
    padding-top: 150px;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

/* ? Burger menu content */

.mobile-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
}

.mobile-menu-list:not(:last-child) {
  margin-bottom: 17px;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-list:not(:last-child) {
    margin-bottom: 30px;
  }
}

.mobile-menu-link {
  text-decoration: none;
  color: var(--primary-color-bluefont);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .mobile-menu-link {
    font-size: 18px;
  }
}

/* *----------------------------------------------------------------------------- */
