/* ? mobile */
.price {
  padding: 64px 0;
}
.price-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #0a224a;
  padding: 30px 0;
  position: relative;
}

.price-list .price-list-item:last-child {
  border-bottom: 1px solid #0a224a;
}

.price-list-goods {
  color: var(--primary-color-bluefont);
  font-family: var(--font-family);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}
.price-list-prices {
  color: var(--primary-color-bluefont);
  text-align: right;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}
.price-list-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 3px;
  background-color: #0a224a;
  opacity: 0;
  transition: opacity 0.2s;
}
.price-list-item:hover::before {
  opacity: 1;
}
.price-list-item:hover {
  padding-left: 100px;
  transition: 0.5s;
}

/* ? tablet */
@media (min-width: 768px) {
  .price-list-goods {
    font-size: 32px;
  }
  .price-list-prices {
    font-size: 18px;
  }
}
/* ? desctop */
@media (min-width: 1440px) {
  .price .container {
    max-width: 1096px;
  }
  .price {
    padding: 100px 0;
  }
  .price-list-goods {
    font-size: 32px;
  }
  .price-list-prices {
    font-size: 18px;
  }
}
