/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./price.css');
@import url('./our-products.css');
@import url('./bestsellers.css');
@import url('./clients-reviews.css');
@import url('./subcription.css');
@import url('./footer.css');


body {
   font-family:var(--font-family) ;
   color: var(--primary-color-bluefont);
   background-color: var(--primary-color-background);
}
:root {
  --font-family: "Roboto", sans-serif;
  --font-hero: "Playfair Display SC", sans-serif;
  --primary-color-bluefont: #0A224A;
  --primary-color-background: #FFF;
  --color-bg-lightblue: #F7FAFF;
  --color-hover-btn: #061835;
  --color-dark-grey: #B6B6B6;
  --color-grey: #7A7A7A;
  --color-light-grey: #D9D9D9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1440px;
  padding-left: 60px;
  padding-right: 60px;
}
